styles.select-wrapper {
  position: relative;
}

styles.select {
  width: 100%;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem;

  background-color: ${background};
}

styles.select.disabled {
  color: rgba(0,0,0,.3);
}

styles.select:focus {
  outline: 1px solid ${focus};
}

styles.option {

}

styles.ul {

}

styles.li {

}

.custom-select {
    position: relative;

    display: flex;
    flex-flow: column nowrap;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    height: 23px;
    font-size: 12px;
    line-height: 21px;

    width: calc(100% - 90px);
}

.custom-select--collapsed {
    display: none;
}

.custom-select__items {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

    position: absolute;
    z-index: 99;
    top: 23px;
    max-height: 180px;
    
    border-style: solid;

    border-color: #ccc;
    background-color: #fff;

    border-width: 1px;
}

.custom-select__item {
    flex: 0 0 23px;

    cursor: pointer;
    
    margin: 0;
    padding: 1px 0 1px 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right: none;
    border-left: none;

    text-decoration: none;
    box-sizing: border-box;

    border-color: #ccc;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-select__item:hover {
    background-color: #e7fcfe;
}

.custom-select__item.selected {
    background-color: #d8fbfd;
}

.custom-select__current-item {
    flex: 0 0 23px;

    display: flex;
    flex-flow: row nowrap;

    border-color: #b3b3b3;
    background-color: #fff;

    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;

    margin: 0;
    padding: 0;
}

.custom-select__current-item--active {
    outline: #00d8f0 solid 1px;
    outline-offset: -1px;
    box-shadow: inset 0 0 1px 1px #00d8f0;
    border-color: #00d8f0;

    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
}

.custom-select__input {
    flex: 1 0 auto;

    color: #2d3239;

    padding: 1px 0 1px 10px;
    margin: 0;
    border: none;
    outline: none;

    background-color: transparent;
}

.custom-select__caret {
    flex: 0 0 28px;

    display: flex;
    flex-flow: row nowrap;

    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.custom-select__caret .caret {
    width: 0px;
    height: 0px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 7px solid #2f2f2f;
}